body{
    margin: 20px;
}
.rese>a{
    font-size: 25px;
}
.header{
    display:inline-block;
}
.header_title{
    display:flex;
    align-items: center;
    
    height:40px;
}
a{
    text-decoration:none;
}
.header_title>h1>a{
    color:#3366CC;
    margin-left:10px;
}

.menu__humbergar {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    background-color: #3366CC;
    border-radius:5px;
    z-index: 2;
}
.menu__humbergar > span {
    display: block;
    height: 5%;
    background-color: #FFFFFF;
    position: absolute;
    transition: 0.2s;
}
.menu__humbergar__bar--top {
    width: 30%;
    left:25%;
    top:10px;
}
.menu__humbergar__bar--middle {
    top: 50%;
    left:25%;
    width: 50%;
    transform: translate(0, -50%);
}
.menu__humbergar__bar--bottom {
    width: 15%;
    bottom: 10px;
    left:25%;
}
.menu__humbergar.active span:nth-child(1) {
    transform: rotate(45deg);
    width: 50%;
    top: 50%;
}
.menu__humbergar.active span:nth-child(2) {
    opacity: 0;
}
.menu__humbergar.active span:nth-child(3) {
    transform: rotate(-45deg);
    width: 50%;
    top: 50%;
}

.mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    left: -100%;
    background-color: #fff;
    transition: 0.5s;
    z-index: -1;
}
.mask.active {
    left: 0;
    z-index: 1;
}
.mask-menu__lists {
    text-align: center;
    margin-top: 50px;
    padding: 70px;
}
.mask-menu__lists > li {
    padding: 25px;
    list-style: none;
}
.mask-menu__lists > li > a {
    text-decoration: none;
    color: blue;
}
.logout_button{
    border: none;
    color:blue;
    font-size: 16px;
    cursor: pointer;
}